extends layout

block action
  a(href='contacts'
    class="button-main button-primary") Login

block content
  h2 Get everyone's contacts

  .instructions
    ol
      li Login with your Hacker School account
      li Give the app permissions to edit your Google Contacts
      li Select the contacts you want to add/remove
      li Hit &lsquo;Save&rsquo; and you&rsquo;ll have everything synced!
