doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .head.boxxy
        h1 Alumnum
        p One-click contact number import for Recursers
        block action

    block header

    .content.boxxy
      block alerts
      block content

    footer
      p Made with <span>&hearts;</span> by
        | <a href="https://twitter.com/gnclmorais">Gonçalo Morais</a> and
        | <a href="https://twitter.com/Yuffster">Michelle Steigerwalt</a>
        | for the <a href="http://recurse.com">Recurse Center</a>

    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    block scripts
