body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/**
 * Batch lists
 * .batches
 */
  .batches ul {
    list-style-type: none;
  }

    .batch {
      cursor: pointer;
    }
